Repository Team-INSERT/BUMAWIKI_WEB_V3, pull requests merged in 2024-03, with the labels that each got.

#2 feat : 프로젝트 세팅
  .babelrc.js
  .editorconfig
  .eslintignore
  .eslintrc.js
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint.yaml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .nvmrc
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE
  README.md
  app/api/sentry-example-api/route.js
  app/global-error.jsx
  app/globals.css
  app/layout.tsx
  next.config.mjs
  package.json
  pnpm-lock.yaml
  renovate.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Labels: chore, style, ci

#6 chore(dependency): vanilla extract로 의존성 변경
  .babelrc.js
  .eslintignore
  app/global-error.jsx
  app/page.tsx
  next.config.mjs
  package.json
  pnpm-lock.yaml
Labels: chore

#14 chore, style : 프로젝트 아키텍처 세팅
  .husky/pre-commit
  .husky/pre-push
  app/favicon.ico
  app/layout.tsx
  app/page.css.ts
  app/page.module.css
  app/page.tsx
  components/.gitkeep
  config/index.ts
  constants/authority.constant.ts
  constants/exception.constant.ts
  context/index.ts
  hooks/.gitkeep
  provider/LayoutProvider.tsx
  provider/ReactQueryProvider.tsx
  provider/index.tsx
  public/.gitkeep
  public/next.svg
  public/vercel.svg
  services/.gitkeep
  types/contribute.interface.ts
Labels: chore, style

#21 feat : 디자인 시스템 세팅, 헤더 컴포넌트 퍼블리싱
  .eslintrc.js
  .github/CODEOWNERS
  .github/workflows/lint.yaml
  .nvmrc
  app/api/sentry-example-api/route.js
  app/layout.css.ts
  app/layout.tsx
  app/page.css.ts
  app/page.tsx
  assets/AccidentIcon.tsx
  assets/ArrowIcon.tsx
  assets/CheckIcon.tsx
  assets/ClubIcon.tsx
  assets/FrameIcon.tsx
  assets/GithubIcon.tsx
  assets/InstagramIcon.tsx
  assets/LikeIcon.tsx
  assets/Logo.tsx
  assets/PageNextIcon.tsx
  assets/PagePrevIcon.tsx
  assets/PopularIcon.tsx
  assets/ScrollIcon.tsx
  assets/SearchIcon.tsx
  assets/StudentIcon.tsx
  assets/TeacherIcon.tsx
  assets/WriteIcon.tsx
  assets/index.ts
  components/.gitkeep
  components/Header/index.tsx
  components/Header/style.css.ts
  install.sh
  install.sh.1
  package.json
  pnpm-lock.yaml
  provider/LayoutProvider.tsx
  provider/ReactQueryProvider.tsx
  provider/index.tsx
  public/.gitkeep
  public/assets/icon.ico
  public/assets/logo.png
  public/assets/logoBlack.png
  public/assets/meta-img.png
  public/assets/references.png
  public/assets/school.jpeg
  styles/flex.ts
  styles/font.ts
  styles/index.ts
  styles/theme.ts
Labels: feat, chore

#32 feat : 분류 컴포넌트, 문서 보드 컴포넌트, 푸터 컴포넌트 퍼블리싱
  app/layout.tsx
  app/page.tsx
  components/Board/index.tsx
  components/Board/style.css.ts
  components/Classify/index.tsx
  components/Classify/style.css.ts
  components/Footer/index.tsx
  components/Footer/style.css.ts
Labels: feat

#45 feat : 아코디언 메뉴 퍼블리싱
  app/globals.css
  components/Accordion/index.tsx
  components/Accordion/style.css.ts
  public/assets/arrow_down.svg
  public/assets/arrow_right.svg
Labels: feat

#46 feat: Aside 컴포넌트 퍼블리싱
  app/layout.css.ts
  app/layout.tsx
  assets/ArrowIcon.tsx
  components/Aside/index.tsx
  components/Aside/style.css.ts
  components/Board/style.css.ts
  styles/theme.ts
Labels: feat

#48 feat : 문서에 전역으로 사용할 Container 컴포넌트 개발
  .gitignore
  app/page.tsx
  assets/Logo.tsx
  components/Accordion/index.tsx
  components/Board/style.css.ts
  components/Classify/index.tsx
  components/Classify/style.css.ts
  components/Container/index.tsx
  components/Container/style.css.ts
  components/Header/style.css.ts
  hooks/.gitkeep
  hooks/useDocs.ts
Labels: refactor

#49 style: 지역적인 global 속성들을 vanilla-extract로 변경
  app/globals.css
  components/Accordion/index.tsx
  components/Accordion/style.css.ts
Labels: style

#51 feat : 홈 페이지 퍼블리싱
  .gitignore
  app/page.css.ts
  app/page.tsx
  assets/MyPageIcon.tsx
  assets/index.ts
  components/Accordion/index.tsx
  components/Accordion/style.css.ts
  components/Aside/style.css.ts
  components/Board/style.css.ts
  components/Container/style.css.ts
  components/Header/index.tsx
  components/Header/style.css.ts
  config/index.ts
  styles/theme.ts
Labels: feat

#54 feat : docs, docsList 페이지 api 연결
  apis/httpClient.ts
  apis/index.ts
  app/(docs)/[classify]/DocsList.tsx
  app/(docs)/[classify]/page.tsx
  app/(docs)/docs/[title]/Docs.tsx
  app/(docs)/docs/[title]/page.tsx
  app/getQueryClient.tsx
  app/layout.tsx
  app/providers.tsx
  config/index.ts
  hooks/useDocs.ts
  provider/index.tsx
  services/docs/DocsService.ts
  services/docs/docsQuery.ts
  services/docs/useDocsService.ts
  types/docsItem.interface.ts
  types/docsListItem.interface.ts
  utils/index.ts
Labels: feat, refactor, perf

#57 feat : history api 연결
  app/(docs)/docs/[title]/page.tsx
  app/(history)/history/[title]/History.tsx
  app/(history)/history/[title]/detail/[id]/HistoryDetail.tsx
  app/(history)/history/[title]/detail/[id]/page.tsx
  app/(history)/history/[title]/page.tsx
  services/.gitkeep
  services/docs/useDocsService.ts
  services/history/HistoryService.ts
  services/history/historyQuery.ts
Labels: feat

#69 feat : docs list publish
  apis/httpClient.ts
  apis/interceptors.ts
  app/(docs)/[classify]/DocsList.tsx
  app/(docs)/[classify]/page.tsx
  app/(docs)/[classify]/style.css.ts
  components/Aside/style.css.ts
  components/Container/index.tsx
  hooks/useDocs.ts
  styles/theme.ts
  types/docsList.interface.ts
  types/docsListItem.interface.ts
Labels: chore

#65 fix : popular 페이지 -> 컴포넌트로 변경
  app/layout.css.ts
  app/layout.tsx
  components/Aside/index.tsx
  components/Aside/style.css.ts
  components/Board/style.css.ts
  components/Header/index.tsx
  components/Popular/index.tsx
  components/Popular/keyframes.css.ts
  components/Popular/style.css.ts
  types/docsListItem.interface.ts
Labels: feat, fix

#103 feat : 부마코인 개발
  apis/index.ts
  apis/refresh.ts
  app/coin/Coin.tsx
  app/coin/Graph.tsx
  app/coin/TradeHistory.css.ts
  app/coin/TradeHistory.tsx
  app/coin/page.tsx
  app/coin/rank/CoinRanking.tsx
  app/coin/rank/page.tsx
  app/coin/rank/style.css.ts
  app/coin/style.css.ts
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/providers.tsx
  assets/CoinIcon.tsx
  assets/PartyIcon.tsx
  assets/index.ts
  components/(modal)/CreateCoinAccount/index.tsx
  components/(modal)/style.css.ts
  components/Accordion/index.tsx
  components/Header/index.tsx
  components/Header/style.css.ts
  next.config.mjs
  package.json
  pnpm-lock.yaml
  public/assets/bumacoin.png
  public/assets/bumamoney.png
  public/assets/tier/1.png
  public/assets/tier/2.png
  public/assets/tier/3.png
  public/assets/tier/4.png
  public/assets/tier/5.png
  public/assets/tier/6.png
  public/assets/tier/7.png
  public/assets/tier/8.png
  public/assets/tier/9.png
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  services/coin/coin.api.ts
  services/coin/coin.mutation.ts
  services/coin/coin.query.ts
  styles/theme.ts
  types/coinRank.interface.ts
  types/trade.interface.ts
  utils/index.ts
Labels: feat
